<div class="row">

    <div class="col s12 m6 l3">
        <div class="card-container">

            <img class="round" src="{{profilpic}}" />

            <h6> <i class="fa fa-fw fa-user"></i>{{givenName}} {{familyName}}</h6>

            <h6> <i class="fa fa-fw fa-at"></i>{{email}}</h6>
            <p>{{country}}</p>
            <h4>Intersted in</h4>
            <h6>{{informations.intersts}}</h6>
            <h4>Speaks</h4>
            <h6>{{informations.languages}}</h6>
            <h4>Studied at</h4>
            <h6>{{informations.university}}</h6>

        </div>
    </div>
    <div class="col s12 m6 l6 ">
        {{#if stories}}


        <div class="row">
            <h3>Posts </h3>
            {{#each stories}}

            <div class="post">
                <div class="post__user">
                    <strong class="post__username"><a
                            style="font-family:Arial, Helvetica, sans-serif; font-size:25px; color:#4caf50"
                            href="/stories/{{_id}}">{{title}}</a></strong><br>
                    <span class="post__date">{{formatDate createdAt 'MMMM Do YYYY, h:mm a'}}</span>
                    {{!-- <span class="dash-status">{{status}}</span> --}}
                </div>
                <div class="post__body">
                    <p>{{stripTags body}}</p>

                </div>


                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-small right red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
                <a href="/stories/edit/{{_id}}" class="btn btn-float btn-small green -3 right">
                    <i class="fas fa-edit "></i>
                </a>
            </div>


            {{/each}}
        </div>
        {{else}}
        <p>You have not created any post</p>
        {{/if}}
    </div>
    <div class="col s12 m6 l3" id="style-15" style="background-color:#f9f9f9; border-left: 1px solid #12a80c; overflow: auto;
    height:100vh;">


        {{#each matches}}


        <div class="row" id="row">
            <a id="tooltip1" href="/stories/user/{{_id}}">

                <div class="col s4 ">
                    <img src="{{profilpic}}" alt="" class=" circle responsive-img">
                </div>
                <div id="col8span" class="col s8">

                    <h5>{{givenName}} {{familyName}}</h5>
                    <small>{{{editProg score }}}</small>


                    <span class="col s6">
                        <div class="col s12">
                            <div class="card-containerr">
                                <div class="row">
                                    <img class="round" src="{{profilpic}}" />


                                    <h6> <i class="fa fa-fw fa-user"></i>{{givenName}} {{familyName}}</h6>

                                    <h6> <i class="fa fa-fw fa-at"></i>{{email}}</h6>
                                    <p>{{country}}</p>
                                    <div class="col s8">
                                        <h4>Intersted in</h4>
                                        <h6>{{informations.intersts}}</h6>
                                    </div>
                                    <div class="col s4">
                                        <h4>Speaks</h4>
                                        <h6>{{informations.languages}}</h6>
                                        <h4>Studied at</h4>
                                        <h6>{{informations.university}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </a>

        </div>

        {{/each}}
    </div>


</div>
</div>